<div id="button-region" class="row bg-primary">
    <div class="col-md-12 text-center">
        <button class="btn bg-white text-dark btn-lg btn-primary">NT</button>
        <button class="btn bg-white text-dark btn-lg btn-primary">OVK</button>
    </div>
</div>